h1{
    font-family: Arial;
    font-size: 30pt;
    color: black;
    
}

h2{
    font-family: Arial;
    font-size: 12pt;
    color: black;
    
}
    
h4{
    font-family: Arial;
    font-size: 16pt;
    color: grey;
    
    }
    
.button{

    background-color:#4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align:center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor:pointer;
    
    }

input{
 background-color:#4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align:center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor:pointer;
    
}