<div class="container-fluid">
    <h1>{{title}} - <span class="badge badge-secondary">Novidade</span></h1>    
    <hr>
    <h6>Bicicleta Elétrica Machine Motors Deluxe Lithium 350W - Preta</h6>
    <img src="assets\img\bicicleta-eletrica.jpg" alt="Bicicleta Elétrica">
    
    <h3>Especificações Técnicas:</h3>
    <ol>
        <ul>- Motor: 350W e 36V Traseiro;</ul>
        <ul>- Bateria: 1x 36V 10AH;</ul>
        <ul>- Autonomia: 20 à 25km;</ul>
        <ul>- Consumo: Menos de 1 centavo por km rodado;</ul>
        <ul>- Velocidade máxima: 30km/h;</ul>
        <ul>- Capacidade de carga: 120kg;</ul>
    </ol>
  
    <div>
        <form>
            <input class="campo-valor"  type="" name="quantity" id="valor" [(ngModel)]="valor"> 
            <input class="botao" type="button" value="Dar lance" (click)="alert1()" > 
        </form>
</div>


</div>

